{% extends 'w_base.html' %}
{% block title %} 用户页{% endblock %}
{% block container %}
<div class="profile"><div class="weui_cells weui_cells_access">
    <div class="weui_cell" id="avatarCell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>头像</p>
        </div>
        <div class="weui_cell_ft">
            <img class="weui_avatar" width="10%" height="10%" src="{{ WxDetaile.headimgurl }}" alt="">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>姓名</p>
        </div>
        <div class="weui_cell_ft">
            {{ WxDetaile.nickname }}
        </div>
    </div>
    <div class="weui_cell no_access">
        <div class="weui_cell_bd weui_cell_primary">
            <p>微信号</p>
        </div>
        <div class="weui_cell_ft">
            {{ WxDetaile.openid }}
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>我的二维码</p>
        </div>
        <div class="weui_cell_ft">

        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>我的地址</p>
        </div>
        <div class="weui_cell_ft">
        {{ WxDetaile.city }}
        </div>
    </div>
</div>
<div class="weui_cells weui_cells_access">
    <a href="javascript:;" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>性别</p>
        </div>
        <div class="weui_cell_ft">
            {{ WxDetaile.sex }}
        </div>
    </a>
    <a href="javascript:;" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>地区</p>
        </div>
        <div class="weui_cell_ft">
            {{ WxDetaile.country }}
        </div>
    </a>
    <a href="javascript:;" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>个性签名</p>
        </div>
        <div class="weui_cell_ft">
            未设置
        </div>
    </a>
</div>
<div class="weui_cells weui_cells_access">
    <a href="javascript:;" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>LinkedIn帐号</p>
        </div>
        <div class="weui_cell_ft">
            未设置
        </div>
    </a>
</div></div>{% endblock %}
