<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="widen 项目页面,widen,推送,开发">
    <meta name="description" content="widen 项目页面">
    <title>{% block title %}自学派{% endblock %} </title>
    <link rel="stylesheet" href="/static/css/weui.min.css">
</head>
<body ontouchstart>
<div id="container">{% block container %}这是基本页面{% endblock %}</div>
<script src="/static/js/jweixin-1.0.0.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#container').on('click', '#showTooltips', function () {
            var url = $('#id_url').val();
            var title = $('#id_title').val();
            var plandate = $('#id_plandate').val();
            var rule = $('#id_rule').val();
            var description = $('#id_description').val();
            var select_user = $('#id_select_user').val();
            if (url.length < 2 || title.length < 2 || plandate.length < 2 || rule.length < 2 || description.length < 2 || select_user.length < 1) {
                $('#a_error').text('请输入正确的业务类型！');
                $('#a_error').show();
                return;
            }
            $.post('/index/add', {
                        url: url,
                        title: title,
                        plandate: plandate,
                        rule: rule,
                        description: description,
                        select_user: select_user
                    },
                    function (response) {
                        $('.page').hide();
                        if (response == 'success') {
                        	window.location.replace("/index/datail/");
                            $('#toast_success').show();
                            setTimeout(function () {
                                $('#toast_success').hide();
                            }, 2000);
                        } else {
                            $('#toast_fail').show();
                            setTimeout(function () {
                                $('#toast_fail').hide();
                            }, 2000);
                            $('#a_error').text('请输入正确的业务类型！');
                            $('#a_error').show();
                            $('.page').show();
                        }
                    })
        })
    })
</script>
</body>
</html>