{% extends 'w_base.html' %}
{% block title %} 教程INFO{% endblock %}
{% block container %}
    <div class="page">
        <div class="page__bd">
            <h2 align="center">教程INFO</h2>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell__hd"><label class="weui_label">标题</label></div>
                <div class="weui_cell__bd">
                    <input class="weui_input"  id="title" type="text" placeholder="请输入标题"/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell__hd">
                    <label class="weui_label">URL</label>
                </div>
                <div class="weui_cell__bd">
                    <input class="weui_input"  id="url" type="url" placeholder="请输入URL"/>
                </div>

            </div>
            <div class="weui_cell">
                <div class="weui_cell__hd"><label for="" class="weui_label">开始日期</label></div>
                <div class="weui_cell__bd">
                    <input class="weui_input" id="date"  type="date" value=""/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell__hd"><label class="weui_label">提取规则</label></div>
                <div class="weui_cell__bd">
                    <input class="weui_input" id="rule" type="text" placeholder="请输入提取规则"/>
                </div>
            </div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell__bd">
                        <textarea class="weui_textarea" id="description" placeholder="描述" rows="3"></textarea>

                        <div class="weui_textarea-counter"><span>0</span>/200</div>
                    </div>
                </div>
            </div>

            <div class="weui_cells">
                <div class="weui_cell weui_cell_select">
                    <div class="weui_cell__bd">
                        <select class="weui_select" id="select_user">
                            <option selected="" value="1">用户</option>
                            <option value="2">QQ号</option>
                            <option value="3">Email</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui_cells__tips">选择所要推送的用户</div>
            <div class="weui_cells_title" style="display:none;color:red;" align="center" id="a_error"></div></div>
            <div class="weui_btn-area">
                <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips">确定</a>
            </div>
        </div>
    <!--BEGIN toast-->
<div id="toast_success" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">操作成功</p>
    </div>
</div>
<div id="toast_fail" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <style>
        .weui_icon_msg:before {
            font-size: 55px;
            margin-top:15px;
        }
    </style>
    <div class="weui_toast">
        <i class="weui_icon_msg weui_icon_warn"></i>
        <p class="weui_toast_content">操作失败，请稍后重试</p>
    </div>
</div>
        <div class="page__ft">
            <a href="#"></a>
        </div>
    </div>

{% endblock %}